.footer{
    background-color:#C49BBB !important;
    margin-top:2%;
}
.textoFooter{
    margin-top:1.5%;
    margin-left: 2%;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
    font-style: italic;
}

.producto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertexto{
    padding-top:1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    font-style: italic;
    font-weight: bold;
}